[user]
	email = 80982854+connbrack@users.noreply.github.com
	name = Connor B
[credential]
	helper = store
[init]
	defaultBranch = main
[push]
	default = current
[alias]
	ffl = push --force-with-lease
